form{
    width: 50%;
    margin-left: 23%;
    margin-top: 2%;
    padding: 1%;
  
}
h3{
    text-align: center;
    margin-top: 3%;
}

.add button{
    border: 1px solid rgb(28, 51, 28);
    background-color: rgb(9, 21, 9);
    color: white;
    text-decoration: none;
}